@charset "UTF-8";

form{
	width:50%;
}
fieldset{
	border: 2px solid #EE503B;
}
*{
	font-family :fantasy;
	margin:0;
}

body{
	max-width:100%;
}
h1{
	text-align:center;
	margin-bottom:3%;
}

form  {
	margin:0 auto;
	
}
legend{
	text-align: center;
	text-transform: uppercase;
	color:#EE503B;
	font-size:1.6em;
}
.container{
	
	max-width:100%;
	
	margin:0 auto;
	padding :50px;
	

	
}


p input{
	width:60%;
	float:right;
}
p label{
	text-align:right;
	width:30%;
}

p {
	margin:10px 10px;
	display:block;
	
	
	
}
.clear{
	clear:both;
}
img{
	width:360px;
	height:320px;
	margin-bottom:3%;
	text-align: center;
	display:block;
	margin:0 auto;
}