@charset "UTF-8";
*{
	font-family :fantasy;
}
h1{
	text-align:center;
}
.container{
	background-color:green;
	width:80%;
	text-align:center;
	margin:0 auto;
	padding :50px;
	
}
span{
	font-weight: bold;
}
img{
	width:150px;
	height:150px;
}

.user{
	border:3px groove white;
	display:inline-block;
		margin:2%;
	
}
.user:hover{
	 transform: scale(1.3);
	 border-style:none;
}

.button{
	background-color:white;
	border-radius:20px;
	padding:10px;
	border-style:none;
	text-decoration: none;
	color:green;
	font-weight: bold;
	text-align:center;
	display:block;
	width:50%;
	margin:0 auto;
}

.button:hover{
	background-color:green;
	color:white;
	border: 2px solid white;
}